<h3>List of Users</h3>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>User Name</th>
		
			<th>Favourited Movies</th>
		</tr>
	</thead>
	<tbody>
		<%@users.each do |user|%>
		<tr>
			<td><%=link_to user.username, read_user_path(user.username)%></td>
			<td><%=user.favourite_movies.count%></td>
		</tr>
		<%end%>
	</tbody>
</table>